body {
    align-items: center;
    font-display: Verdana;
    border: 3px solid #daa520;
    padding: 5px;
}

h1 {
    text-decoration: underline;
}

div.kotak {
    background-color: whitesmoke;
    width: 270px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(15, 4, 4, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.isiKotak{
    padding: 10px
}
